In [1]:
import pandas as pd
import numpy as np

#загрузка датасета из файла 'restaurants.csv'
df = pd.read_csv('data/restaurants.csv', sep=',')

###### Вывести первые 10 строк датафрейма. Изучить структуру таблицы.
Таблица состоит из 7 колонок: 
- vendor_id (уникальный идентификатор ресторана), 
- chain_id (уникальный идентификатор сети, в которую входит ресторан), 
- city_name (город), 
- specialisation(специализация ресторана), 
- successful_orders(кол-во успешных заказов), 
- fail_orders(кол-во не успешных заказов), 
- reorders (перезаказы).

In [2]:
#вывод первый 10-ти строк датафрейма
df.head(10)

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
5,37650,27579,Архангельск,Суши,3.0,0.0,0.0
6,37127,27250,Астрахань,Суши,55.0,5.0,6.0
7,28476,20266,Астрахань,Суши,342.0,13.0,14.0
8,28478,20266,Астрахань,Суши,194.0,1.0,7.0
9,34127,25077,Астрахань,Пицца,136.0,4.0,1.0

###### Сколько в датафрейме колонок с типом float64?
###### Сколько наблюдений в датафрейме?
###### Сколько колонок в датафрейме?

In [3]:
#вывод полной информации о структуре данных
df.info()
#другой вариант (выбор колонок с определенным типом)- df.select_dtypes(include = 'float64').shape[1]
#метод df.shape возвращает кортеж, в котором первое число - количество строк, второе число - количество столбцов

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vendor_id          784 non-null    int64
 1   chain_id           784 non-null    int64
 2   city_name          784 non-null    object
 3   specialisation     784 non-null    object
 4   successful_orders  784 non-null    float64
 5   fail_orders        784 non-null    float64
 6   reorders           784 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB

###### Сколько уникальных городов в датафрейме?

In [4]:
n = df.city_name.unique().size
#альтернативный вариант (выводит инормацию по всем нечисловым полям датафрейма) - df.describe(include=['object'])
print(f'В датафрейме {n} уникальных городов')

В датафрейме 63 уникальных городов

###### Определить кол-во ресторанов специализации "Рыба"

In [5]:
n = df[df.specialisation == 'Рыба']
print('Кол-во ресторанов специализации "Рыба":', n.shape[0])

Кол-во ресторанов специализации "Рыба": 30

###### Получить в общем среднее кол-во успешных заказов (ответ округлить до целого)

In [6]:
n = df.successful_orders.mean().round()
#другой вариант - использовать функцию df.describe(), которая выводит статистики по числовым переменным
print('Cреднее кол-во успешных заказов:', n)

Cреднее кол-во успешных заказов: 115.0

###### Определить город с самым маленьким количеством ресторанов

In [7]:
#функция value_counts() выводит распределение по нечисловым характеристикам
min_num = df.city_name.value_counts().tail(1).index[0]
print('Город с самым маленьким количеством ресторанов:', min_num)

Город с самым маленьким количеством ресторанов: Ханты-Мансийск

###### Сколько ресторанов имеют более 20 неуспешных заказов?

In [8]:
n = df[df.fail_orders > 20].shape[0]
print(n, 'ресторанов имеют более 20 неуспешных заказов')

10 ресторанов имеют более 20 неуспешных заказов

###### Сколько ресторанов имеют более 20 неуспешных заказов и менее 500 успешных заказов?

In [9]:
n = df[(df.fail_orders > 20) & (df.successful_orders > 500)].shape[0]
print(n, 'ресторанов имеют более 20 неуспешных заказов и менее 500 успешных заказов')

5 ресторанов имеют более 20 неуспешных заказов и менее 500 успешных заказов

###### Определить среднее кол-во успешных заказов в ресторанах со специализацией "Выпечка" (ответ округлить до целого)

In [10]:
frame = df[(df.successful_orders > 0) & (df.specialisation == 'Выпечка')]
n = frame.successful_orders.values.mean().round()
print('Cреднее кол-во успешных заказов в ресторанах со специализацией "Выпечка":', n)

Cреднее кол-во успешных заказов в ресторанах со специализацией "Выпечка": 13.0

###### Какая специализация имеет самую высокую долю неуспешных заказов (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов)?

In [11]:
newdf = df.groupby(by='specialisation').sum()
percent_of_fail = newdf.fail_orders/(newdf.successful_orders + newdf.fail_orders + newdf.reorders)
specialisation = percent_of_fail.sort_values(ascending=False).head(1).index[0]
print("Специализация с наибольшим процентом неудачных заказов:",specialisation)

Специализация с наибольшим процентом неудачных заказов: Вегетарианское меню

###### Определить максимальное количество успешных заказов в ресторане для специализации "Бургеры"

In [12]:
max_orders = df.groupby(by='specialisation').max().successful_orders['Бургеры']
print('Максимальное количество успешных заказов в ресторане для специализации "Бургеры":',max_orders)

Максимальное количество успешных заказов в ресторане для специализации "Бургеры": 506.0

###### Рассчитать среднее кол-во успешных заказов по специализации "Суши" в городе Белгород (ответ округлить до целого)

In [50]:
#выбор строк с городом Белгород
city = df[df.city_name == 'Белгород']
#группировка по специализации и нахождение категории "Суши"
success_sushi_num = city.groupby(by='specialisation').mean().successful_orders[["Суши"]].values[0].round()
print('Среднее кол-во успешных заказов по специализации "Суши" в городе Белгород:', success_sushi_num)

Среднее кол-во успешных заказов по специализации "Суши" в городе Белгород: 328.0

In [54]:
#импорт нового датасета "restaurant_scores.csv", в котором хранится рейтинг ресторанов
df2 = pd.read_csv('data/restaurant_scores.csv', sep = ',')

          id  model_score
0          1     0.622864
1          2     0.331360
2          3     0.450092
3          4     0.240392
4          5     0.297691
...      ...          ...
37717  37951     0.754494
37718  37952     0.662785
37719  37953     0.509935
37720  37954     0.417669
37721  37955     0.031183

[37722 rows x 2 columns]

###### В исходную таблицу (df) добавить новый столбец "model_score" из таблицы "restaurant_scores", соединив таблицы по логически подходящему столбцу (id и vendor_id)

In [74]:
#соединяем поле vendor_id таблицы df с полем id таблицы df2
extended_df = pd.merge(df, df2, left_on = 'vendor_id', right_on = 'id').drop('id', axis = 1)

###### Какой средний model_score для chain_id 27399 (ответ округлить до 2 знаков после запятой)?

In [87]:
mean_chain_model_score = extended_df.model_score[extended_df.chain_id == 27399].mean().round(2)
#альтернативный вариант через группировку по chain_id
#mean_chain_model_score = extended_df.groupby(by='chain_id').mean().model_score[[27399]].values[0].round(2)
print('Средний model_score для chain_id 27399:', mean_chain_model_score)

Средний model_score для chain_id 27399: 0.61